# all data in all of its forms
/data

# all results in all of its forms
/results

# sbatch jobs and logs
src/analysis/logs/
src/data/logs/
src/pipelines/logs/

# notebook checkpoints
.ipynb_checkpoints

# cache files
__pycache__

# old files
src/pipelines/old_files/./src/analysis/job_analysis.sh
./src/pipelines/job_local.sh
./src/pipelines/job_federated_xgboost.sh
./src/pipelines/job_federated_ocsvm.sh
./src/pipelines/job_test.sh
./src/pipelines/job_federated_gmm.sh
./src/pipelines/job_centralized.sh
./src/pipelines/job_grid_search.sh
./src/data/job_explore_data.sh
./src/data/job_preprocessing.sh
./src/data/job_make_hospital_splits.sh
./src/data/job_feature_extraction.sh
